*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.hero{
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 7%, rgba(26,72,98,1) 61%);
     
}
ul li{
    list-style: none;
    margin-top: 10px;
    margin-left: 50px;
    
}
ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.border{
    border: 1px solid rgb(224, 221, 10);
    border-radius: 10px;
}
.border1{
    border: 1px solid rgb(224, 221, 10) ;
    border-radius: 10px;
}
.category{
    margin-top: 10px;
}
.box6{
    margin-top: 40px;
    padding-left:340px;
}